@import "components/reset";
@import "components/typography";
@import "components/modular";
@import "components/myMenu";
@import "components/tables";
@import "components/buttons";
@import "components/system";
@import "components/folderTree";


body {

    z-index: 0;

}


$box-width: 500px;

.categoryTree
{

    overflow: auto;
    height: 300px;
    border: $blue-color double;
    width: 100%;

}


.searchContainer
{
    
    table.imageSelectorComponent
    {
        td.currentImageTableCell
        {
            background-color: $green-color;
            width: 250px;
            padding: 20px;
            margin: 0px;
            
            
            
            .currentImageControlContainer
            {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: center;
                
                height: 450px;
               
                a
                {
                    color: white;
                    text-decoration: none;
                    
                    &:hover
                    {
                        text-decoration: underline;
                    }
                    
                }
                
                
                .imageControl
                {
                  
                 height: 50px;
                 color: white;
                 text-align: center;
                 margin: 10px auto;
                  
                  
                }
            }
            
            
            .imageWrapper
            {
                overflow: auto;
                height: 300px;
            }
            img.currentImageDisplay
            {
                width: 100%;
                margin: 10px auto;
                 
            }
        }
        
        
    }
    
    
    .targetFolder
    {
        margin-right: 20px;
        
        #targetFolderIcon
        {
            color: $red-color;
            font-size: 48px;
            
        }
        
        .targetFolderText 
        {
          color: $red-color;
          margin-right: 10px;
          top: -5px;
          position: relative;
          font-family: Roboto, Arial, Sans-Serif ;
          font-size: 24px;
          font-weight: 400;
          font-style: italic;
            
        }
        
    }
}

.tagSearchContainer
{
    width: 400px;
    position: relative;


    .tagSearchInput
    {

        float:left;
        background-color:#FFF;
        min-height:30px;
        margin-top: 1px;
        height:30px;
        width:300px;
        font-family:graphikExtralight,Helvetica,Arial,sans-serif;
        font-size:1.8em;
        font-weight:100;
        border: none;

    }



    .search
    {
        float: right;
        font-size:30px;
        margin-right: 10px;
    }

    .entryBoxContainer
    {
        background-color: white;
        height: 35px;
        border: thin solid $green-color; 


    }   
    .tagSearchList
    {
        margin-top: 3px;
        border: 1px solid #ccc;
        top: 33px;
        width: 330px;
        position: absolute;
        z-index: 5;
        background-color: white;


        .tagSearchItem
        {
            border-bottom: 1px solid #ccc;

            padding: 5px;
            font-size: 20px;
            cursor: pointer;
        }

    }

    .waitIndicator
    {
        position:absolute;
        top:-40px;
        left: 300;
         
    }


}

.displayComponent
{ 
    .pagingControls
    {
        margin-bottom: 10px;
        button
        {
            margin: 10px;
        }
    }
    
    width: 300px;
    
.imageComponentContainer
{
    height: 410px;
    position: relative;
    width: 500px;
    padding: 10px;
    overflow: auto;
    border: thin solid $red-color;
    //http://alijafarian.com/responsive-image-grids-using-css/
    .imageListContainer
    {
        -moz-column-count: 4;
        -moz-column-gap: 0px;
        -webkit-column-count: 4;
        -webkit-column-gap: 0px;
        column-count: 4;
        column-gap: 0px;
        width: 100%;
        margin: 0 auto;

    


        .deviantThumb
        {

            &.categoryHit
            {
                opacity: 1;
            }
            &.categoryMiss
            {
                opacity: 0.5;
            }


            img
            {
                margin: 5px;
                width: 100%;
                cursor: pointer;

            }


        }
    }

}

 div.waitIndicator
    { 
        background:  url('images/spiffygif_96x96.gif') 50% 50% no-repeat;
        width:765px;
        height:410px;
        position:absolute;
        top:21%;
        left:37%;
        z-index:999;
    }
    
    }