 <% include  partials/header %>
	 

	 
	<h3>Sample Application</h3>
        
        
        <section>
         Sample REST service: point browser to <a href="http://localhost:3000/getCategories">http://localhost:3000/getCategories</a>
        

        </section>
 


        <div id="test"></div>

    
    
<script src="js/bundle.js"></script>
 <% include  partials/footer %>